[submodule "spatialsearch_dotty"]
	path = spatialsearch_dotty
	url = https://github.com/scilari/spatialsearch_dotty
[submodule "mhpf"]
	path = mhpf
	url = https://github.com/scilari/mhpf
[submodule "ancestry"]
	path = ancestry
	url = https://github.com/scilari/ancestry
