[submodule "mhpf"]
	path = mhpf
	url = https://github.com/scilari/mhpf
[submodule "ancestry"]
	path = ancestry
	url = https://github.com/scilari/ancestry
[submodule "spatialsearch"]
	path = spatialsearch
	url = git@github.com:scilari/spatialsearch.git
